<section class="products-show">

  <header class="page-header">
    <h1>
      <%= link_to @product.category.name, @product.category %> &raquo;
      <%= @product.name %>
    </h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>
            <%= @product.name %>
          </dd>
          <dt>Description</dt>
          <dd>
            <%= @product.description %>
          </dd>
          <dt>Quantity</dt>
          <dd>
            <%= @product.quantity %>
          </dd>
          <dt>Price</dt>
          <dd>
            <%= @product.price %>
          </dd>
          <dt>Avg Rating</dt>
          <dd>
            <% if @product.reviews.count == 0 %>
              <span>This product hasn't been rated yet.</span>
            <% else %>
              <strong><%= Review.where(product_id: @product.id).average(:rating).round(1) %>/5</strong>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="row review-row">
      <div class="col review-wrap">
        <h4>Product Reviews: </h4>
        <div class="well">
          <% if @product.reviews.count == 0 %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              This product hasn't been reviewed yet.
            </li>
          </ul>
          <% else %>
            <% @product.reviews.each do |review| %>
              <%= render 'review', review: review, current_user: current_user %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </article>

</section>